<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					ITEM 1
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>
				<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					ITEM 2
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>
				<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					ITEM 3
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>